* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:rgb(48, 9, 85);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: gray;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(48, 9, 85);
    margin: 0;
}

header a {
    text-decoration: none;
    color: rgb(48, 9, 85);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    background: rgb(48, 9, 85);
    color: gray;
    border-radius: 15px;
    text-shadow: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/image1.jpg");
    padding: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: center;
    color: white;
}

.about-section {
    margin: 30px;
}

.about-section h2 {
    font-size: 38px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.about-section p {
    line-height: 1.5;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.contact {
    background-color: gray;
}

.contact-info {
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info2 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 30%;
}